In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as mp
import numpy as np

In [2]:
#relative_path = "data_files\\df_final_demo.txt"

df_demo = pd.read_csv(r"..\..\data_files\raw\df_final_demo.txt")
df_exp = pd.read_csv(r"..\..\data_files\raw\df_final_experiment_clients.txt")
df_web_1 = pd.read_csv(r"..\..\data_files\raw\df_final_web_data_pt_1.txt")
df_web_2 = pd.read_csv(r"..\..\data_files\raw\df_final_web_data_pt_2.txt")

In [3]:
df_demo.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [4]:
df_demo.duplicated().sum() # no dups

0

In [5]:
df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [6]:
df_exp.head(10)

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control
5    9466803      Test
6    3170143      Test
7    6651403   Control
8    5887227      Test
9    2105948   Control

In [7]:
df_web_1.head(10)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43

In [8]:
df_web_2.head(10)

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
5,6019349,442094451_91531546617,154620534_35331068705_522317,start,2017-06-01 11:57:54
6,4726500,934350987_45569789638,467318052_88159801968_565608,confirm,2017-06-05 17:38:52
7,4726500,934350987_45569789638,467318052_88159801968_565608,step_3,2017-06-05 17:38:33
8,4726500,934350987_45569789638,467318052_88159801968_565608,step_2,2017-06-05 17:37:31
9,4726500,934350987_45569789638,467318052_88159801968_565608,step_1,2017-06-05 17:37:24

In [9]:
df_web_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     343141 non-null  int64
 1   visitor_id    343141 non-null  object
 2   visit_id      343141 non-null  object
 3   process_step  343141 non-null  object
 4   date_time     343141 non-null  object
dtypes: int64(1), object(4)
memory usage: 13.1+ MB

In [10]:
df_web_2.info() # same as df_web_2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412264 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     412264 non-null  int64
 1   visitor_id    412264 non-null  object
 2   visit_id      412264 non-null  object
 3   process_step  412264 non-null  object
 4   date_time     412264 non-null  object
dtypes: int64(1), object(4)
memory usage: 15.7+ MB

In [11]:
df_web = pd.concat([df_web_1,df_web_2])
df_web.shape[0] == df_web_1.shape[0] + df_web_2.shape[0] # concatenated all rows

True

In [12]:
df_web.columns# client_id appears multiple times

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [13]:
df_demo.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [14]:
df_demo[ 'clnt_tenure_yr']

0         6.0
1         7.0
2         5.0
3        16.0
4        12.0
         ...
70604     4.0
70605    12.0
70606    16.0
70607    21.0
70608    21.0
Name: clnt_tenure_yr, Length: 70609, dtype: float64

In [15]:
df_exp.columns

Index(['client_id', 'Variation'], dtype='object')

In [16]:
df_web.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

# Answer the following questions about demographics:
## Who are the primary clients using this online process?
## Are the primary clients younger or older, new or long-standing?

In [17]:
# Identify primary clients based on logons or calls threshold
threshold_logons = 5  # Adjust threshold as needed
threshold_calls = 3  
primary_clients = df_demo[(df_demo['logons_6_mnth'] >= threshold_logons) | (df_demo['calls_6_mnth'] >= threshold_calls)]

# Demographic analysis
age_stats = primary_clients['clnt_age'].describe()
gender_distribution = primary_clients['gendr'].value_counts()

# Tenure analysis
tenure_stats = primary_clients[['clnt_tenure_yr', 'clnt_tenure_mnth']].describe()

# Output the results
print("Demographic Analysis:")
print(f"Mean Age: {age_stats['mean']}, Median Age: {age_stats['50%']}")
print(f"Gender Distribution:\n{gender_distribution}")

print("\nTenure Analysis:")
print(tenure_stats)

Demographic Analysis:
Mean Age: 47.12374972103309, Median Age: 48.5
Gender Distribution:
gendr
M    17694
U    16597
F    14997
X        2
Name: count, dtype: int64

Tenure Analysis:
       clnt_tenure_yr  clnt_tenure_mnth
count    49290.000000      49290.000000
mean        12.276588        153.219619
std          7.064997         84.445685
min          2.000000         33.000000
25%          6.000000         82.000000
50%         11.000000        138.000000
75%         16.000000        196.000000
max         62.000000        749.000000

In [18]:
df_online = pd.merge(df_demo,df_exp,how='left',on='client_id') # Here we merge the tables for the clients and the participants of the experiment

In [19]:
df_online.dropna(inplace=True) # Here we drop the client whom did not particapate in the experiment for a better analysis

In [20]:
df_online.isnull().sum()

client_id           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
Variation           0
dtype: int64

In [21]:
df_online.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0,Control
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0,Test
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,Test
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,Control

In [22]:
df_online.describe(include="object") # categorical variables

        gendr Variation
count   50487     50487
unique      4         2
top         U      Test
freq    17280     26961

In [23]:
df_online['Variation'].value_counts()

Variation
Test       26961
Control    23526
Name: count, dtype: int64

In [24]:
df_online.describe()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth
count,5.048700e+04,50487.000000,50487.000000,50487.000000,50487.000000,5.048700e+04,50487.000000,50487.000000
mean,5.006180e+06,12.031810,150.416365,47.319795,2.254580,1.495168e+05,3.093272,6.131856
std,2.877445e+06,6.860326,81.945403,15.518616,0.533675,3.020390e+05,2.188009,2.175441
min,5.550000e+02,2.000000,33.000000,17.000000,1.000000,2.378944e+04,0.000000,3.000000
25%,2.515688e+06,6.000000,82.000000,33.500000,2.000000,3.987718e+04,1.000000,4.000000
50%,5.025043e+06,11.000000,136.000000,48.000000,2.000000,6.573433e+04,3.000000,6.000000
75%,7.477922e+06,16.000000,192.000000,59.500000,2.000000,1.399583e+05,5.000000,8.000000
max,9.999832e+06,55.000000,669.000000,96.000000,7.000000,1.632004e+07,6.000000,9.000000

In [25]:
df_ab = pd.merge(df_online,df_web)

In [45]:
mask = df_ab['Variation']=='Test'
df_test = df_ab.loc[mask]
df_control = df_ab.loc[~mask]
df_control.head(10)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id,visit_id,process_step,date_time,first_time
302415,1028,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control,42237450_62128060588,557292053_87239438319_391157,start,2017-04-08 18:51:28,NaN
302414,1028,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:52:17,2017-04-08 18:51:28
302413,1028,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:53:20,2017-04-08 18:52:17
302412,1028,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control,42237450_62128060588,557292053_87239438319_391157,step_2,2017-04-08 18:53:29,2017-04-08 18:53:20
302411,1028,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control,42237450_62128060588,557292053_87239438319_391157,step_3,2017-04-08 18:58:04,2017-04-08 18:53:29
302410,1028,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:59:55,2017-04-08 18:58:04
302409,1028,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 19:00:15,2017-04-08 18:59:55
302408,1028,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control,42237450_62128060588,557292053_87239438319_391157,step_2,2017-04-08 19:00:17,2017-04-08 19:00:15
302407,1028,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 19:00:26,2017-04-08 19:00:17
132419,1104,5.0,66.0,48.0,U,3.0,154643.94,6.0,9.0,Control,194240915_18158000533,543158812_46395476577_767725,start,2017-06-12 07:49:18,NaN

In [28]:
df_ab.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
Variation            object
visitor_id           object
visit_id             object
process_step         object
date_time            object
first_time           object
dtype: object

In [46]:
# Completion rate test group 
confirm_step_count_tst = df_test[df_test['process_step'] == 'confirm']['client_id'].nunique()
total_users_tst = df_test['client_id'].nunique()
completion_rate_tst = confirm_step_count_tst / total_users_tst
print(f"Test Group Completion Rate: {completion_rate_tst:.2%}")

Test Group Completion Rate: 69.29%

In [47]:
# Completion rate fo the control group 
confirm_step_count_ctl = df_control[df_control['process_step'] == 'confirm']['client_id'].nunique()
total_users_ctl = df_control['client_id'].nunique()
completion_rate_ctl = confirm_step_count_ctl / total_users_ctl
print(f"Control Group Completion Rate: {completion_rate_ctl:.2%}")

Control Group Completion Rate: 65.58%

In [94]:
crosstable = pd.DataFrame({ "Control": [total_users_ctl-confirm_step_count_ctl, confirm_step_count_ctl], 
              "Test": [total_users_tst-confirm_step_count_tst, confirm_step_count_tst]}, index= ['Not Completed','Completed'])

crosstable

               Control   Test
Not Completed     8098   8279
Completed        15428  18682

In [50]:
df_ab['date_time'] = pd.to_datetime(df_ab['date_time'], errors='coerce')
df_ab['first_time']= df_ab.groupby('client_id')['date_time'].shift(1)

In [68]:
total_users_tst

26961

In [53]:
df_ab.dtypes

client_id                    int64
clnt_tenure_yr             float64
clnt_tenure_mnth           float64
clnt_age                   float64
gendr                       object
num_accts                  float64
bal                        float64
calls_6_mnth               float64
logons_6_mnth              float64
Variation                   object
visitor_id                  object
visit_id                    object
process_step                object
date_time           datetime64[ns]
first_time                  object
dtype: object

In [96]:
import scipy.stats as stats


data = [[confirm_step_count_tst, total_users_tst  * (1-completion_rate_tst)],
        [confirm_step_count_ctl, total_users_ctl * (1-completion_rate_ctl)]]

# Perform Chi-Square test
chi2, p_value, _, _ = stats.chi2_contingency(data)

# Output the results
print(f"Chi-Square Statistic: {chi2}")
print(f"P-Value: {p_value}")

# Check the significance level (e.g., 0.05)
alpha = 0.05

# Make a decision based on the p-value
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference in completion rates between the test and control groups.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference in completion rates between the test and control groups.")

Chi-Square Statistic: 78.91156551250265
P-Value: 6.495338472114987e-19
Reject the null hypothesis: There is a significant difference in completion rates between the test and control groups.

Chi-Square Statistic: 78.91156551250255
P-Value: 6.495338472115321e-19
Reject the null hypothesis: There is a significant difference in completion rates between the test and control groups.

In [72]:
data

[[18682, 18682.0], [15428, 15427.999999999998]]

In [31]:
# Time Spent on Each Step
df_web['date_time'] = pd.to_datetime(df_web['date_time'])
step_duration = df_web.groupby('process_step')['date_time'].diff().mean()
print("Average Time Spent on Each Step:")
print(step_duration)

Average Time Spent on Each Step:
0 days 00:00:23.738792692

In [60]:
# Error rates in the control group 
error_count_ctl = df_control[df_control.duplicated(subset=['visit_id', 'client_id'], keep='last')]['visit_id'].count()
total_visits_ctl = df_control['visit_id'].nunique()
error_rate_ctl = error_count_ctl / total_visits_ctl
print(f"Control Group Error Rate: {error_rate_ctl:.2%}")

Control Group Error Rate: 345.46%

In [61]:
# error rates in the test group 
error_count_tst = df_test[df_test.duplicated(subset=['visit_id', 'client_id'], keep='last')]['visit_id'].count()
total_visits_tst = df_test['visit_id'].nunique()
error_rate_tst = error_count_tst / total_visits_tst
print(f"Test Group Error Rate: {error_rate_tst:.2%}")

Test Group Error Rate: 378.74%